html {
  background-image: url(/images/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* SEARCH BAR */
.searchvalue {
  align-self: center;
  width: 25%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  
}



/* EACH BOOK DESCRIPTION CARD */
.displayBooks{
  margin:50px auto 100px; 
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(350px, 1fr));
  grid-gap:20px;
}

.displayBooks .card{
  position:relative;
  margin:0 auto;
  width:500px;
  background:#333;
  padding:30px;
  box-sizing:border-box;
  text-align:center;
  box-shadow:0 10px 40px rgba(0,0,0,.5);
  overflow:hidden;
}

.displayBooks .card .layer{
  position:absolute;
  top:calc(100% - 2px);
  left:0;
  height:100%;
  width:100%;
  background:linear-gradient(#3b3c3c, #746d74);
  z-index:1;
  transition:0.5s;
}

.displayBooks .card:hover .layer{
  top:0;
}

.displayBooks .card .content{
  position:relative;
  z-index:2;
}
.displayBooks .card .content p{
  font-size:18px;
  line-height:24px;
  color:#fff;
}
.displayBooks .card .content .isbn{
  margin:0 auto;
  color: #fff;
}

.displayBooks .card .content .genre h2{
  font-size:18px;
  color: #fff;
}

b {
  color: #03a9f4;
  font-size: larger;
}





/* ADD BOOK AND UPDATE BOOK BUTTON */
.HOVER {
  --width: 100%;
  --time: 0.9s;

  align-self: center;

  border-radius: 25px;
  width: 150px;
  position: relative;
  display: inline-block;
  height: 1em;
  padding: 1em;

  color: white;
  background: #673ab7;
  overflow: hidden;
  cursor: pointer;
}

.HOVER text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width);
  position: relative;
  z-index: 5;
  
  transition: color var(--time);
}

.HOVER:hover text {
  color: rgb(18, 14, 14);
}

.HOVER span {
  position: absolute;
  display: block;
  content: "";
  z-index: 0;
  width: 0;
  height: 0;
  
  border-radius: 100%;
  background: rgb(138, 132, 132);
  
  transform: translate(-50%, -50%);
  transition: width var(--time), padding-top var(--time);
}

.HOVER:hover span {
  width: calc(var(--width) * 2.5);
  padding-top: calc(var(--width) * 2.5);
}



/* ADDING BOOK PAGE */
.Book h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.Book {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 550px;
  padding: 15px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.Book .input-box {
  position: relative;
}


.Book .input-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

label {
  position: absolute;
  top:-10px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #03e9f4;
}



.add-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #7cd5da;
  background-color: #746d74;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  margin: 30px;
}

.add-btn:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.add-btn span {
  position: absolute;
  display: block;
}

.add-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.add-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.add-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 4px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.add-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 4px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}



